<!DOCTYPE html>
<html>
<head>
	<title>Take Poll</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'welcome/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="main_content">
		<h1><strong>
			{{ pollName }}
		</span></h1>
		<br>
		{{ err }}
	</div>
	<form action="/welcome/" method="post">
		{% csrf_token %}
		<div class="current-question">
			<label>
				{{ question }}
			</label>
		</div>
		<div class="current-answers">
			{% for a in answer %}
			<input type="radio" name="answer" value="0">
			<a>
				{{ a }}
			</a> <br>
			{% endfor %}
		</div>
		<button>Submit</button>
	</form>
</body>
</html>
