<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'welcome/thanks.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RolyPolly | Thanks</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div id="thanks_title" class="col-md-12">
				<h1>Thanks polling with us!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<img id="rolypolly_img" src="{% static 'welcome/rolyPolly.png' %}" alt="RolyPolly Logo"/>
				<p>Come <a href="/welcome">take</a> another poll, or <a href="/welcome/sign-up">make</a> a poll of your own!</p>
			</div>
		</div>
	</div>
</body>
</html>