<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>	
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'welcome/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="main_content">
		<h1><strong>Roly</strong><span style="font-weight:lighter;">polly</span></h1>
		<form action="/init_participant" method="POST">
			<div class="user-option">
				<label for="poll_code">Please Enter Your Poll Code</label>
				<br>
				<input id="poll_code" type="" name="">
			</div>
			<div class="user-option">
				<label for="poll_name">Please Enter Your Name</label>
				<br>
				<input id="poll_name" type="" name="">
			</div>
			<button>Start Poll</button>
		</form>
	</div>
</body>
</html>