<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>	
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'welcome/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="main_content">
		<h1><strong>Roly</strong><span style="font-weight:lighter;">polly</span></h1>
		
		{{ message.name }}
		<form action="/welcome/" method="post">
			{% csrf_token %}
			<div class="user-option">
				<label for="poll_code">Please Enter The Poll Code</label>
				<br>
				<input id="poll_code" name="code">
			</div>
			<div class="user-option">
				<label for="poll_name">Please Enter Your Name</label>
				<br>
				<input id="poll_name" name="name">
			</div>
			<button>Join Poll</button>
		</form>
	</div>
</body>
</html>