<!DOCTYPE html>
<html>
<head>
	<title>Create</title>
	{% load static %}
	<script type="text/javascript" src="{% static 'dash/rolypolly.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<p>Welcome, {{ username }}</p>
	<h1>Create</h1>
	<div id="question-wrapper"></div>

	<button onclick="addQuestion();">Add Question</button>
	<!-- updatePollObj will become save once implemented -->
	<button onclick="updatePollObj();">Save</button>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		poll = new Poll();
	});

	function updateGUI() {
		var questionWrapper = $('<div>').attr('id', 'question-wrapper');
		for(var i = 0; i < poll.questions.length; i ++) {
			var question = $('<textarea>').html(poll.getQuestion(i)).addClass('question');
			var delQ = $('<button>').html('delete').attr('id', 'del_q_'+i).click(function() {delQuestion(this.id)});
			$(questionWrapper).append($('<h2>').html('Question'))
			$(questionWrapper).append(question);
			$(questionWrapper).append(delQ);
			var answers = poll.getAnswers(i);
			console.log(answers);
			var answerWrapper = $('<div>');
			for(var j = 0; j < answers.length; j ++) {
				$(answerWrapper).append($('<textarea>').addClass('q_'+i+'_answer').attr('id', 'inp_q_'+i+'_a_'+j).attr('value', answers[j]).html(answers[j]));
				var radio = $('<input>').addClass('selction_q_'+i+'_answer').attr('type', 'radio').attr('name', 'q_'+i+'_answer');
				if (j == poll.getCorrect()[i]) {
					radio.attr('checked', 'checked');
				}
				$(answerWrapper).append(radio);

				$(answerWrapper).append($('<button>').html('delete').attr('id', 'del_q_'+i+'_a_'+j).click(function() {delAnswer(this.id)}))
				$(answerWrapper).append('<br>');
			}
			var addAnswerButton = $('<button>').html('add answer').attr('id', 'add_answer_q_'+i).click(function() {addAnswer(this.id)})
			$(answerWrapper).append(addAnswerButton)

			$(questionWrapper).append($('<h3>').html('Answers'));
			$(questionWrapper).append(answerWrapper);
		}
		$('#question-wrapper').replaceWith(questionWrapper);
	}
	
	function addQuestion() {
		
		poll.addQuestion();
		updatePollObj();
		updateGUI();
	}

	function addAnswer(q_ind) {

		q_ind = q_ind.replace(/(add_answer_q_)/i, '');
		poll.addAnswer(q_ind);
		updatePollObj();
		updateGUI();
	}

	function delQuestion(q_ind) {
		q_ind = q_ind.replace(/(del_q_)/i, '');
		poll.delQuestion(q_ind);
		// updatePollObj();
		updateGUI();
	}

	function delAnswer(inds) {
		q_ind = inds.replace(/del_q_/i, '');
		q_ind = q_ind.replace(/_a_.+/i, '');
		a_ind = inds.replace(/del_q_.+_a_/i, '');
		poll.delAnswer(q_ind, a_ind);
		updateGUI();
	}

	function updatePollObj() {
		var questions = $('.question');
		for(var i = 0; i < questions.length; i ++) {
			var answers = $('.q_'+i+'_answer');
			poll.updateQuestion(i, questions[i].value);
			for(var j = 0; j < answers.length; j ++) {
				poll.updateAnswer(i, j, answers[j].value);
			}
			var radios = $('input[name='+'q_'+i+'_answer'+']');
			for(var j = 0; j < radios.length; j ++) {
				if($(radios[j]).is(':checked'))
					poll.setCorrect(i, j);
			}
		}

	}

</script>
</html>